.day-list {
    width: 100%;
    margin: 5px;
    color: azure;
}

.day-list button {
    width: 100%;
    padding: 1px 15px;
    margin-bottom: 10px;
    padding: 7px;
    font-size: larger;
    color: azure;
    background-color: rgb(0, 0, 0, 0.2);
    border-radius: 5px;
    border: none;
}

.day-list button:hover {
    background-color: rgb(0, 0, 0, 0.7);
    cursor: pointer;
}

.task {
    padding: 1px 15px;
    margin-bottom: 10px;
    background-color: rgb(0, 0, 0, 0.5);
    border-radius: 5px;
    transition: all .2s ease-in-out;
}

.task:hover {
    transform: scale(1.03);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3), 0 2px 10px 0 rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.task .time {
    margin: 13px 0;
}

.task .description {
    margin: 13px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}